<nav>
    <ul>
        <li><a href="{{ url_for('admin.home') }}">Home</a></li>
        <li><a href="{{ url_for('admin.add_student_page') }}">Add User</a></li>
        <li><a href="{{ url_for('admin.search_user_page') }}">Search User</a></li>
        <li><a href="{{ url_for('admin.edit_user_page') }}">Edit User</a></li>
        <li><a href="{{ url_for('admin.view_attendance') }}">View Attendance</a></li>
        <li><a href="{{ url_for('admin.logout') }}">Log Out</a></li>
    </ul>
</nav>